NEXT_PUBLIC_AGENT_URL=https://argon-bd8888db5430.herokuapp.com

NEXT_PUBLIC_ARB_RPC=https://arb1.arbitrum.io/rpc
NEXT_PUBLIC_RH_RPC=https://rpc.mainnet.chain.robinhood.com

NEXT_PUBLIC_VAULT_ARB=0x744e2dD4Ce32148C8a4bf65BC37824cc129086aF
NEXT_PUBLIC_REGISTRY_ARB=0x16CFd132f8fBF67A31b207E54667C4aA4432e747
NEXT_PUBLIC_VAULT_RH=0xe8eA8f046152C36dC8c11a5434C31A1E2343f274
NEXT_PUBLIC_REGISTRY_RH=0xacB34bE584177C44740064bE249D2fe1582eD261

NEXT_PUBLIC_WALLETCONNECT_ID=
# optional: hide keeper tools unless this wallet is connected
# NEXT_PUBLIC_ADMIN_ADDRESS=0x9642b6D1Db5D1A3B0A61a831099568bbCbC04D4E
