NEXT_PUBLIC_AGENT_URL=https://argon-bd8888db5430.herokuapp.com

NEXT_PUBLIC_ARB_RPC=https://arb1.arbitrum.io/rpc
NEXT_PUBLIC_RH_RPC=https://rpc.mainnet.chain.robinhood.com

NEXT_PUBLIC_VAULT_ARB=0x9F844b4D1b28Be7413067f9d4fC08Bc276fd1C60
NEXT_PUBLIC_REGISTRY_ARB=0xbAf00c0aCa440337d43495c7de661A0AC2E01e8f
NEXT_PUBLIC_VAULT_RH=0x9F844b4D1b28Be7413067f9d4fC08Bc276fd1C60
NEXT_PUBLIC_REGISTRY_RH=0xbAf00c0aCa440337d43495c7de661A0AC2E01e8f

NEXT_PUBLIC_WALLETCONNECT_ID=
# optional: hide keeper tools unless this wallet is connected
# NEXT_PUBLIC_ADMIN_ADDRESS=0x9642b6D1Db5D1A3B0A61a831099568bbCbC04D4E
